{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% url 'account_change_password' as action_url %}
    <form>
        {%csrf_token%}
        {%include 'form_snippet.html'%}
        <button class="mt-1" type="submit"
        name="action">{%trans "Change Password"%}</button>
    </form>
    
{% endblock content %}
