{%extends 'base/base.html'%}
{%load static%}
{%block content %}
<h1>
    Hello Morning Morining.
</h1>
<p class="lead">
    This is from my first app.Enjoy yourself.
</p>
<div class="card-columns">
{%for flower in flowers%}
<div class="card">
    <hr>
    All flowers in the <b>{{flower.category}} category:<br>
    {%for c_flower in flower.category.flower_set.all%}
     <a href="#" class="card-link">{{c_flower}}</a>
     {%endfor%}
    <div class="card-body">
        <h5 clas="card-title"><a href="{%url 'detail' flower.slug %}">{{flower.title}}</a></h5>
        <p clas"card-text">{{flower.description | truncatechars:100}}</p>
        <a href="#" class="card-link">{{flower.category}}</a>
        <a href="adminmyapp/flower/{{flower.id}}/change/"
        class="card-link">Edit</a>
        <a href="adminmyapp/flower/{{flower.id}}/delete/"
        class="card-link">Delete</a>
    </div>
</div>
{%endfor%}
{%endblock%}