{%extends 'base/base.html'%}
{%block content%}
<form action=" " method="post">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-6">
            {{form.non_field_errors}}
            <div class="form-group">
                {{form.description.errors}}
                {{form.description.label_tag}}
                {{form.description}}
            </div>
            <div class="from-group">
                {{form.title.errors}}
                {{form.title.label_tag}}
                {{form.title}}
            </div>
            <hr class="mb-3">
            <button class="btn btn-primary btn-lg btn-block"
            type="submit">Submit</button>
        </div>
    </div>
</form>
{%endblock%}